nav {
    height: 100px;
    background-color: #F8F8F8
}

nav a {
    color: rgb(75,75,75)
}

.topBarHolder{
	position:fixed; 
	z-Index:999; 
	width:100%;
}

.topBarBG{
    position:absolute;
    height:100%;
    width:100%;
    background-color: rgba(0,0,0,0.76);
    display:block;
}

.topBar{
    height: 80px;
    width: 80%;
    max-width:960px;
    margin: 0 auto;
}