.section-header {
    font-family: 'Lato', serif;
    font-weight: bolder;
    font-size: 27px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    text-align: center;   
}

/* One */
center-horizontal {
    margin-left: auto;
    margin-right: auto;
}

nav {
    height: 100px;
    background-color: #F8F8F8
}

nav a {
    color: rgb(75,75,75)
}

.topBarHolder{
	position:fixed; 
	z-Index:999; 
	width:100%;
}

.topBarBG{
    position:absolute;
    height:100%;
    width:100%;
    background-color: rgba(0,0,0,0.76);
    display:block;
}

.topBar{
    height: 80px;
    width: 80%;
    max-width:960px;
    margin: 0 auto;
}

#body {
    background-color: #F0F0F0
}

/*.center {*/
/*  position: absolute;*/
/*  left: 50%;*/
/*  top: 50%;*/
/*  transform: translate(-50%, -50%);  Yep! */
/*  width: 48%;*/
/*  height: 59%;*/
/*}*/

#header {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 0px;
    height: 100px;
}

#header-text {
    color: white;
    font-family: 'Lato', serif;
    font-weight: bolder;
    font-size: 70px;
}

#header-img {
    width: 90px;
}

#tagline {
    color: #F0F0F0;
    font-family: 'Lato', serif;
    font-size: 24px;
    font-weight: bold;
    width: 100%; 
    max-width: 550px;
    margin-left: auto; 
    margin-right: auto;
}

#sign-up-text {
    color: #F0F0F0;
    font-family: 'Lato', serif;
    font-size: 24px;
    width: 500px; 
    margin-left: auto; 
    margin-right: auto;
    margin-top: 125px;
}

#email-form {
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
    margin-bottom: 100px;
    height: 400px;
}

#email-form-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 75px;
}


/* label focus color */
#email-input-field input[type=email]:focus + label {
 color: #fff;
}
/* label underline focus color */
#email-input-field input[type=email]:focus {
 border-bottom: 1px solid #fff;
 box-shadow: 0 1px 0 0 #fff;
}
/* valid color */
#email-input-field input[type=email].valid {
 border-bottom: 1px solid #fff;
 box-shadow: 0 1px 0 0 #fff;
}
/* icon prefix focus color */
#email-input-field .prefix.active {
 color: #fff;
}
#mce-EMAIL {
    color:white;
}

#get-notified-text {
    margin-left: auto;
    margin-right: auto;
    width: 220px;
    height: auto;
    padding-top: 115px;
    font-size: 110%;
}

#submit-button {
    background-color: #ffffff !important;
}

.one {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #464646;
    overflow: hidden;
}

@media only screen and (min-width : 601px) {
    #header {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      width: 410px;
    }
    #header-text {
        margin-left: 25px;
    }
    #header-img {
        margin-left: auto;
        margin-right: auto;
    }
    #email-form {
        background: url(../imgs/form-bg.png) no-repeat center center;
    }
    .one {
        background-image: url(../imgs/bg-large-optimized.png);
    }
}

@media only screen and (max-width : 600px) {
    #header {
        width: 320px;
    }
    #header-img {
        position: absolute;
        left: 50%;
        margin-left: -45px;
    }
    #header-text {
        position: absolute;
        margin-top: 80px;
    }
    #tagline {
        position: relative;
        margin-top: 80px;
    }
    #email-form {
        background: url(../imgs/form-bg.png) no-repeat center center;
    }
    .one {
        background-image: url(../imgs/bg-optimized.png);
    }
}

/* Two */
#two {
/*    background: url(../imgs/bg-pattern.png);*/
    background: #334D5C;
}

#header-two-text {
    color: white;
}

#step-icon {
    font-size: 40px;
    color: #DF5A49;
    display: block;
}

@media only screen and (max-width : 600px) {
    #step-icon {
        margin-top: 25px;
    }
}

/* Three */
#header-three-text {
    color: black;
}

#contact-form {
    max-width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#contact-button {
    display: block;
    margin-left: auto;
    margin-top: 10px;
    background-color: #DF5A49;
}

.contact-input-field input[type=text]:focus + label {
    color: #DF5A49;
}
.contact-input-field input[type=email]:focus + label {
    color: #DF5A49;
}
.contact-input-field textarea[type=text]:focus + label {
    color: #DF5A49;
}
/* label underline focus color */
.contact-input-field input[type=text]:focus {
    border-bottom: 1px solid #DF5A49;
    box-shadow: 0 1px 0 0 #DF5A49;
}
.contact-input-field input[type=email]:focus {
    border-bottom: 1px solid #DF5A49;
    box-shadow: 0 1px 0 0 #DF5A49;
}
.contact-input-field textarea:focus {
    border-bottom: 1px solid #DF5A49;
    box-shadow: 0 1px 0 0 #DF5A49;
}
/* valid color */
.contact-input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
.contact-input-field input[type=email].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.contact-input-field .prefix.active {
    color: #DF5A49;
}

/* Footer */
#footer {
    background: #47484B ;
}