center-horizontal {
    margin-left: auto;
    margin-right: auto;
}

nav {
    height: 100px;
    background-color: #F8F8F8
}

nav a {
    color: rgb(75,75,75)
}

.topBarHolder{
	position:fixed; 
	z-Index:999; 
	width:100%;
}

.topBarBG{
    position:absolute;
    height:100%;
    width:100%;
    background-color: rgba(0,0,0,0.76);
    display:block;
}

.topBar{
    height: 80px;
    width: 80%;
    max-width:960px;
    margin: 0 auto;
}

#body {
    background-color: #F0F0F0
}

/*.center {*/
/*  position: absolute;*/
/*  left: 50%;*/
/*  top: 50%;*/
/*  transform: translate(-50%, -50%);  Yep! */
/*  width: 48%;*/
/*  height: 59%;*/
/*}*/

#img-header {
    margin-left: auto;
    margin-right: auto;
    width: 410px;
    margin-top: 50px;
    margin-bottom: 0px;
    height: 100px;
}

#header-text {
    margin-left: 25px;
    color: white;
    font-family: 'Lato', serif;
    font-weight: bolder;
    font-size: 70px;
}

#tagline {
    color: #F0F0F0;
    font-family: 'Lato', serif;
    font-size: 24px;
    font-weight: bold;
    width: 500px; 
    margin-left: auto; 
    margin-right: auto;
}

#sign-up-text {
    color: #F0F0F0;
    font-family: 'Lato', serif;
    font-size: 24px;
    width: 500px; 
    margin-left: auto; 
    margin-right: auto;
    margin-top: 125px;
}

#email-form {
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
    height: 400px;
    background: url(/imgs/form-bg.png) no-repeat center center;
}

#email-form-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 75px;
}


/* label focus color */
#email-input-field input[type=email]:focus + label {
 color: #fff;
}
/* label underline focus color */
#email-input-field input[type=email]:focus {
 border-bottom: 1px solid #fff;
 box-shadow: 0 1px 0 0 #fff;
}
/* valid color */
#email-input-field input[type=email].valid {
 border-bottom: 1px solid #fff;
 box-shadow: 0 1px 0 0 #fff;
}
/* icon prefix focus color */
#email-input-field .prefix.active {
 color: #fff;
}
#mce-EMAIL {
    color:white;
}

#get-notified-text {
    margin-left: auto;
    margin-right: auto;
    width: 220px;
    height: auto;
    padding-top: 115px;
    font-size: 110%;
}

#submit-button {
    background-color: #ffffff !important;
}

.one {
    background-image: url(/imgs/bg-large-optimized.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

@media only screen and (max-wdith: 767px) {
    .one {
        background-image: url(/imgs/bg-optimized.png);
    }
}